/* You can add global styles to this file, and also import other style files */
@import './colors.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $text-color;

    .material-icons {
        vertical-align: middle;
        color: $text-color;
    }
}