<h3>Comments</h3>
<ul class="comments-wrapper">
  <li class="add-comment-textarea comment-list-item">
    <textarea 
      cols="30" 
      rows="5"
      placeholder="Please enter comment"
      (focus)="showPublish=true"
      (blur)="onTextAreaBlur()"
      [(ngModel)]="commentText" ></textarea>
      <button
        [ngClass]='{"primary-button": true, "publish-button":true, "show":showPublish}'
        (click)="onPublishButtonClick()" >
        Publish  
      </button>
  </li>
  <li
    class="comment-list-item"
    *ngFor="let comment of comments" >
    <app-comments-list-item
      [comment]="getCommentItemModel(comment)" ></app-comments-list-item>
  </li>
</ul>
