<div class="article-item-wrapper">
  <div class="header">
    <i class="material-icons account-image">account_circle</i>
    <div class="author-info">
      <div class="author-name">{{article.author}}</div>
      <div class="created-on">{{article.createdOn | date}}</div>
    </div>
  </div>
  <a 
    class="content-wrapper"
    routerLink="/article/{{article._id}}" >
    <h2>{{article.title}}</h2>
    <span>{{article.content[0]}}</span>
  </a>
  <div class="footer">
    <div class="favorite-wrapper">
      <i class="material-icons">favorite_border</i>
      <span class="favorite-count">{{article.likes}}</span>
    </div>
    <div class="comment-wrapper">
      <span class="comment-count">{{article.comments.length}}</span>
      <i class="material-icons">comment</i>
    </div>
  </div>
</div>
