<div class="article-detail-wrapper">
  <div class="article-header">
    <i class="material-icons account-image">account_circle</i>
    <div class="author-info">
      <div class="author-name">{{article.author}}</div>
      <div class="created-on">{{article.createdOn | date}}</div>
    </div>
  </div>
  <!-- Content of article -->
  <div class="article-content">
    <h2>{{article.title}}</h2>
    <p 
      *ngFor="let para of article.content; let idx = index"
      class="article-text"
      id="pl{{idx}}" >
      {{para}}

      <span
        *ngIf="isLinkedPara(idx)" 
        class="comment-link">
        *
      </span>
    </p>
  </div>
  <!-- Comments -->
  <app-comments-list
    [comments]="article.comments"
    (onCommentAdded)="addComment($event)" >
  </app-comments-list>
</div>
<app-action-tool-tip></app-action-tool-tip>
