<div class="article-detail-wrapper">
  <div class="article-header">
    <i class="material-icons account-image">account_circle</i>
    <div class="author-info">
      <div class="author-name">{{article.author}}</div>
      <div class="created-on">{{article.createdOn | date}}</div>
    </div>
  </div>
  <!-- Content of article -->
  <div class="article-content">
    <h2>{{article.title}}</h2>
    <p 
      class="article-text"
      *ngFor="let para of article.content; let idx = index"
      id="pl{{idx}}" >
      {{para}}
    </p>
  </div>
  <!-- Comments -->
  <app-comments-list
    [comments]="article.comments" >
  </app-comments-list>
</div>
