.articles-list {
    padding: 50px 10%;
    text-align: center;

    .list-item {
        display: inline-block;
        max-width: 600px;
        margin: 20px 0;
        list-style-type: none;
    }
}