@import '../../colors.scss';

.header {
    position: fixed;
    background-color: white;
    width: 90%;
    top: 0;
    padding: 10px 5%;
    box-shadow: 0 1px 1px gray;
    z-index: 100;

    .header-text {
        font-size: 22px;
        text-decoration: none;
        color: $text-color;
    }

    .search-container {
        display: inline-block;
        float: right;
        width: 28px;
        border-radius: 3px;
        transition: width 150ms;
        border: 1px solid transparent;
        border-radius: 3px;

        &.expanded {
            width: 250px;
            border-color: $app-gray;
        }

        .header-search-input {
            width: calc(100% - 28px);
            height: 24px;
            border: none;
        }

        .search-icon {
            cursor: pointer;
        }
    }
}